$primary-color-dark-blue: #34313D;
$primary-color-blueviolet: #3A3054;
$primary-color-light-blue: #4B3F6B;
$primary-color-grey: #9E9AA8;
$primary-color-light-grey:#EFF1F7;
$primary-color-aqua: #2BD0D0;
$color-white: #FFFFFF;
$footer-background-color:#232127; 


$main-font-family: 'Poppins',Arial, sans-serif;
$main-font-size: 1.5rem;
$main-line-height: 1.73;
$main-font-weight: 500;


$h1-size: 8rem;
$h2-size: 4rem;
$h3-size: 2.2rem;